*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
tabel
{
	padding:20px 20px;
}
.user
{
	border:1px solid black;
	padding:10px;
	border-radius:50%;
}
a
{
	text-decoration:none;
	color:black;
	font-size:20px;
}
.google
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	font-size:80px;
	letter-spacing:-10px;
}
.size
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:35%;
	border:1px solid black;
	height:50px;
	border-radius:10px;
}
.search
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:60%;
	width:45%;
	border:1px solid black;
	height:45px;
	border-radius:10px;
}
.search input
{
	width:100%;
	border:none;
	outline:none;
	border-radius:20px;
}
.icon
{
     position:relative;
	 transform:translate(-50%,-50%);
     top:-10%;
	 left:20px;	
     font-size:25px; 
}
.mic  
{
	height:30px;
	width:30px;
	position:relative;
	transform:translate(-50%,-50%);
    top:45%;
	left:90%;
}
.camera 
{
	height:35px;
	width:35px;
	position:relative;
	transform:translate(-50%,-50%);
    top:50%;
	left:90%;
}
.box1
{
	position:absolute;
	right:54%;
	top:65%;
	border:5px solid white;
	width:150px;
	background-color:#f5f5f5;
}
.box2
{
	position:absolute;
	right:45%;
	top:65%;
	border:5px solid white;
	width:150px;
	background-color:#f5f5f5;
}
p
{
	position:absolute;
	right:35%;
	top:75%;
}
.a
{
    position:absolute;
	right:95%;
	top:35%;
	height:15px;
}
h1
{
	position:absolute;
	left:1%;
	top:90%;
	height:45px;
	padding:10px 0px;
	width:100%;
	font-size:15px;
	display:inline;
	background-color:#f5f5f5;
}
h2
{
	position:absolute;
	left:1%;
	top:95%;
	height:37px;
	padding:10px 0px;
	margin:auto;
	width:100%;
	font-size:15px;
	display:inline;
	background-color:#f5f5f5;
}
h3
{
	position:absolute;
	right:1%;
	top:95%;
	padding:10px 0px;
	height:20px;
	font-size:15px;
	display:inline;
}